
@keyframes colorCycle {
0% {
    filter: brightness(0) invert(1);
}
11% {
    filter: none;
}

}

main {
    max-width: 104.8rem;
    padding: 5.6rem 2.4rem;

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        font-size: 12.5rem;
        line-height: 12.8rem;
        letter-spacing: -1.24rem;
        color: var(--white);

        span{
            padding: 0 0.67rem;
            filter: brightness(0) invert(1);

            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            animation: colorCycle 10s ease-in-out infinite;
        }

        span:nth-child(1){
            background-image: linear-gradient(90deg, #F2C641, #126DA6);
        }

        span:nth-child(2){
            background-image: linear-gradient(90deg,#126DA6, #F2C641, );
            animation-delay: 2.33s;
        }
    

    }
    .buttons{
        margin-top: 6.4rem;

        display: flex;
        align-items: center;
        
        > button {
            background: var(--white);
            color: var(--black);
            border-radius: 0.4rem;

            margin: 1.2rem;
            padding: 1.5rem 4.5rem;
            border: 0.1rem solid var(--white);

            font-size: 1.6rem;
            font-weight: 500;

            cursor: pointer;
            transition: .2s ease-in;

            &.outlined {
                background: transparent;
                color: var(--gray);
                border: 0.1rem solid var(--gray);
            }

            &:hover{
                background: transparent;
                color: var(--white);
                border: 0.1rem solid var(--white);
            }

        }
    }


    }

}
